<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    @Html.ActionLink("FindIt | Главная страница", "List", "Notice", new { @class = "navbar-brand"})
                </div>
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Новое объявление", "AddNotice", "Notice")
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
        <div class="container" id="searchMenu">
            <div class="gradient">

                    @{ Html.RenderAction("SearchNotice", "Notice"); }
                <div class="container" id="allCategories">
                    <h3 class="text-center text-white">Категории:</h3>

                    @{ Html.RenderAction("Menu", "Nav"); }

                </div>
            </div>

    </div>
    <div id="notices">
        @RenderBody()
    </div>
  

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/MyScripts/JqueryScript.js"></script>
</body>
</html>

