@model FindIt.Models.Notice

<div class="container notice">
    <div class="col-md-2">
        @if (Model.ImageData != null)
        {
            <img  class="img-thumbnail" height="100" width="100" src="@Url.Action("GetImage", "Notice", new { noticeID = Model.NoticeID })" />
        }
    </div>


    <div class="col-md-10">
        <div class="row">
            <div class="col-md-7">
                @Html.ActionLink(@Model.Theme, "Show", new { idN = @Model.NoticeID }, new { @class = "notice-theme" })
            </div>
            <div class="col-md-offset-10">
                @if (Model.IsLost == true)
            {
                    <div class="noticeType">
                        <p class="bg-danger text-center text-danger"><b>Потеряно</b></p>
                    </div>
                }
                else
                {
                    <div class="noticeType">
                        <p class="bg-success text-center text-success"><b>Найдено</b></p>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            
                @Model.Content

        </div>

     
        <div class="row">
            <div class="col-md-4 ">
                @Html.ActionLink(@Model.Category.CategoryName, "List", new { filter = @Model.Category.CategoryNameEng }, null)
            </div>
            <div class="col-md-4 ">

                @Html.ActionLink(@Model.City.CityName, "List", new { filter = @Model.City.CityNameEng }, null)
            </div>
            <div class="col-md-4 text-right">
                @Model.DateCreation
            </div>

        </div>
    </div><!--end of grid_content_category-->
</div>

